* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  overflow: auto;
}

.navbar li {
  float: left;
  margin: 20px 10px;;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
}
